// Colors
$bg-dark: #0d101e;
$text-color: #fff;
$border-color: #e5e7eb;
$text-low-gray: rgba(107,114,128,1);
$text-white : rgba(229,231,235,1);
$bg-active: rgb(17, 24, 39, 1);
$btn-active: rgba(16,185,129,1);

// Fonts
$fira-code-font: 'Fira Code', monospace;

// icons
$main-icon: url("https://tiny.school/tinyschool-logo-with-text.svg");
